@charset "UTF-8";
@font-face {
    font-family: "Segoe WP Light";
    src: url("../fonts/segoewp-light/segoewp-light.eot?#iefix") format("eot"), url("../fonts/segoewp-light/segoewp-light.woff") format("woff"), url("../fonts/segoewp-light/segoewp-light.ttf") format("truetype"), url("../fonts/segoewp-light/segoewp-light.svg") format("svg");
}
@font-face {
    font-family: "Segoe WP N";
    src: url("../fonts/segoewpn/segoewpn.eot?#iefix") format("eot"), url("../fonts/segoewpn/segoewpn.woff") format("woff"), url("../fonts/segoewpn/segoewpn.ttf") format("truetype"), url("../fonts/segoewpn/segoewpn.svg") format("svg");
}

html {
    font-family: sans-serif;
}

body {
    margin: 0;
}

a {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
}

a:active, a:hover {
    outline: 0 none;
}

abbr[title] {
    border-bottom: 1px dotted;
}

b, strong {
    font-weight: 700;
}

dfn {
    font-style: italic;
}

hr {
    box-sizing: content-box;
    height: 0;
}

mark {
    background: none repeat scroll 0 0 #FFFF00;
    color: #000000;
}

code, kbd, pre, samp {
    font-family: monospace,serif;
    font-size: 1em;
}

pre {
    white-space: pre-wrap;
}

q {
    quotes: "“" "”" "‘" "’";
}

small {
    font-size: 80%;
}

/*===== Slider Arrows =====*/
figure {
    margin: 0;
}

*/
table {
    border-collapse: collapse;
    border-spacing: 0;
}

*, *:after, *:before {
    box-sizing: border-box;
}

*::-moz-selection {
    background: none repeat scroll 0 0 #D94748;
    color: #FFFFFF;
}

a {
    color: #D94748;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

a:focus, button:focus {
    outline: 0 none;
}

img {
}

embed, img, object, video {
    max-width: 100%;
}

body {
    background-color: #FFFFFF;
    color: #909090;
    font: 400 100%/1.5 "Segoe WP N",Helvetica,Arial,sans-serif;
    text-rendering: optimizelegibility;
}

body, button, input {
}

p {
    margin: 0 0 1em;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 400;
}

.h1, h1 {
    font-size: 2.25em;
    line-height: 1.33333em;
    margin: 0.66667em 0;
}
.h2, h2 {
    font-size: 1.875em;
    line-height: 1.6em;
    margin: 0.8em 0;
}

.h3, h3 {
    font-size: 1.5em;
    line-height: 2em;
    margin: 1em 0;
}

.h4, h4 {
    font-size: 1.125em;
    line-height: 1.33333em;
    margin: 1.33333em 0;
}

.h5, h5 {
    font-size: 0.875em;
    line-height: 1.71429em;
    margin: 1.71429em 0;
}

.h6, h6 {
    font-size: 0.75em;
    line-height: 2em;
    margin: 2em 0;
}

.featured {
    color: #5094F2;
    font-size: 1.25em;
    margin: 1em 0 0.5em;
}

.container {
    margin-left: auto;
    margin-right: auto;
    max-width: 59em;
    padding-left: 1em;
    padding-right: 1em;
}

.container:after {
    clear: both;
    content: "";
    display: table;
}

.block-logo {
    display: inline;
    float: left;
    margin-right: 1.69492%;
    padding-top: 20px;
    width: 32.2034%;
}

.block-menu {
    display: inline;
    float: right;
    margin-right: 0;
    width: 66.1017%;
}

.banner-figure {
    display: inline;
    float: left;
    margin-right: 1.69492%;
    width: 49.1525%;
}

.banner-text {
    display: inline;
    float: right;
    margin-right: 0;
    width: 49.1525%;
}
/*===== Used Columns =====*/

.col-1, .col-2 {
    display: inline;
    float: left;
    margin-right: 1.69492%;
    width: 32.2034%;
}

.col-3 {
    display: inline;
    float: right;
    margin-right: 0;
    width: 32.2034%;
}

.col-12 {
    display: inline;
    float: left;
    margin-right: 1.69492%;
    width: 100%;
}

.col-8 {
    display: inline;
    float: left;
    margin-left: 0;
    margin-right: 8.47458%;
    width: 40.678%;
}

.col-4 {
    display: inline;
    float: right;
    margin-right: 0;
    width: 49.1525%;
}

.userinfo {
    display: inline;
    float: left;
    margin-right: 1.69492%;
    width: 32.2034%;
}

.sortable{
    display: inline;
    float: left;
    margin-right: 1.69492%;
    width: 32.2034%;
}
/*===== End Used Columns =====*/

.header {
    background: none repeat scroll 0 0 #FFFFFF;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);
    height: 90px;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 110;
}

.main {
    background-color: #FFFFFF;
    position: relative;
    top: 579px;
    width: 100%;
    z-index: 100;
}

.featured-container {
    padding: 60px 0 30px;
}

.call-title {
    font-size: 1.688em;
    line-height: normal;
}

.call-title-big {
    font-size: 2.75em;
    line-height: normal;
    margin: 40px 0 60px;
}

.call-content {
    line-height: 32px;
}

.footer {
    padding: 30px 0 20px;
}

.logo {
    display: block;
    margin: 0;
    padding: 0;
}

/*===== Escape Hatch =====*/

.logo a {
    background-image: url("../images/logo.png");
    background-position: 50% 50%;
    background-repeat: no-repeat;
    display: block;
    height: 44px;
    overflow: hidden;
    text-align: left;
    text-indent: -119988px;
    width: 178px;
}
/*===== End Escape Hatch =====*/

/*===== Main Menu =====*/

.menu {
    float: right;
    padding-top: 1px;
}

.menu li {
    display: inline-block;
    float: left;
    margin-left: 20px;
}

.menu li a {
    border-bottom: 3px solid rgba(0, 0, 0, 0);
    color: #6F7173;
    display: block;
    font-size: 1.25em;
    padding: 20px 5px;
}

.menu li a:hover {
    border-bottom: 3px solid #5094F2;
    text-decoration: none;
}
/*===== End Main Menu =====*/


.btn {
    background: none repeat scroll 0 0 #2FABF9;
    border-bottom: 3px solid #9280F9;
    border-radius: 4px;
    color: #FFFFFF;
    display: inline-block;
    font: 1.375em "Segoe WP Light",Helvetica,Arial,sans-serif;
    padding: 6px 10px;
    position: relative;
    text-align: center;
    transition: all 0.1s linear 0s;
}

.btn:hover {
    background: none repeat scroll 0 0 #3885F0;
    text-decoration: none;
}
.btn:active {
    border-bottom: 3px solid rgba(0, 0, 0, 0);
    margin-top: 3px;
}

.btn-ok {
    padding-left: 43px;
}

.btn-ok:before {
    background: url("../images/icon-ok.png") repeat scroll 0 0 rgba(0, 0, 0, 0);
    content: "";
    display: block;
    height: 23px;
    left: 10px;
    position: absolute;
    top: 8px;
    width: 23px;
}

.banner-background {
    background: url("../images/bg-header.png") no-repeat scroll center top / 100% 579px #FFFFFF;
    height: 579px;
    padding-top: 125px;
    position: fixed;
    width: 100%;
}

.banner-container {
    position: relative;
}

.slide {
    height: 100%;
    width: 100%;
}

.banner-controls {
    margin: 0;
    padding: 0;
}

.banner-controls li {
    list-style-type: none;
    position: absolute;
}

.banner-controls li a {
    display: block;
}

/*===== Slider Buttons =====*/

.prev {
    left: -25px;
    top: 50%;
}

.prev a {
    background-image: url("../images/arrow-left.png");
    background-position: 50% 50%;
    background-repeat: no-repeat;
    height: 63px;
    overflow: hidden;
    text-align: left;
    text-indent: -119988px;
    width: 25px;
}

.next {
    right: -25px;
    top: 50%;
}

.next a {
    background-image: url("../images/arrow-right.png");
    background-position: 50% 50%;
    background-repeat: no-repeat;
    height: 63px;
    overflow: hidden;
    text-align: left;
    text-indent: -119988px;
    width: 25px;
}
/*===== End Slider Buttons =====*/

.banner-text {
    padding-top: 110px;
}

.banner-title {
    color: #FFFFFF;
    font: 400 2.625em "Segoe WP Light",Helvetica,Arial,sans-serif;
    margin: 0 0 20px;
    padding: 0;
}

.banner-content {
    color: #FFFFFF;
    font: 400 1.625em/44px "Segoe WP Light",Helvetica,Arial,sans-serif;
}

.banner-text .btn {
    margin-left: 12px;
}

.chromeframe {
    background: none repeat scroll 0 0 #CCCCCC;
    color: #000000;
    margin: 0.2em 0;
    padding: 0.2em 0;
}

.debug {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0.5);
    color: #FFFFFF;
    left: 0;
    padding: 10px;
    position: absolute;
    top: 0;
    z-index: 100;
}

.txt-center {
    text-align: center;
}

.f-left {
    float: left;
}
.f-right {
    float: right;
}
.top-offset {
    padding-top: 90px;
}

/*===== Tooltip =====*/

.tooltip {
	display: none;
	position: absolute;
	border: 1px solid #333;
	background-color: #000000;
	border-radius: 5px;
	padding: 7px;
	color: #fff;
	font-size: 12px Arial;
}

/*===== Tabs =====*/

#tabs {
	width: 600px;
	height: 200px;
	padding: 20px;
	border: 1px solid;
}

#tabs-nav {
	width:600px;
	height: 75px;
	padding: 5px;
	border: 1px solid;
	text-decoration: none;
	list-style-type: none;
}

#tabs-nav li {
	list-style: none;
	display: inline-block;
}

/*#tabs-nav a {
	padding: 5px 10px;
	displayle: inline-block;
	background: ;
	color: #2fabf9;
	text-decoration: none;
}

#tabs-nav a:hover {
	height: 5px;
	background-color: #fff;
    text-decoration: underline;
}

#tabs-nav a.active {
	background: #fff;
	color: #F00;
}*/

/*===== MODAL CSS =====*/

#overlay {
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,.5);
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1000;
	display: none;
}

#modal {
	width: 500px;
	text-align: left;
	background: #ccc;
	box-shadow: 0 0 10px #000;
	border-radius: 10px;
	overflow: hidden;
	position: relative;
	top: 50%;
	left: 50%;
	margin-top: -200px;
	margin-left: -200px;
	z-index: 1001;
	display: none;
}

#modal .header {
	background: #333;
	color: #fff;
	padding: 10px;
}

#modal p {
	margin: 15px;
}

#modal .close {
	position: absolute;
	right: 5px;
	top: 5px;
	font-size: 16px;
	font-weight: bold;
	padding: 5px 10px;
	border: 1px solid #F00;
	cursor: pointer;
	/*background-color: #F00;*/
}

form {
	padding: 10px;
}

form.input {
	padding: 10px;
}

#sortable { list-style-type: none; margin: 0; padding: 0; width: 100%; 
}

#sortable li { margin: 0 3px 3px 3px; padding: 0.4em; padding-left: 1.5em; font-size: 1.4em; height: 18px; 
}

#sortable li span { position: absolute; margin-left: -1.3em;
}


